<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="MSSQLConnectionString" value="server=svn.megasky.net;Initial Catalog=QuestionBank;User=team7;Password=t7@2012;Trusted_Connection=False; pooling=true; Max Pool Size=100;"/>-->
    <add key="MSSQLConnectionString" value="Data Source=HUYCUONG\SQLEXPRESS;Initial Catalog=QuestionBank2024;Integrated Security=True;Pooling=true;Max Pool Size=100;"/>
    <add key="locale" value="vi-VN"/>
    <add key="UseImageAsBase64" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="AssetStorePath" value="D:\Research2\Quiz\Release\Tqb\Data"/>
    <add key="UploadServerURL" value="http://localhost:8086/fileuploader.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
